[submodule "libemmetvim"]
	path = vim/vimdir/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "libvimcolorsolarized"]
	path = vim/vimdir/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "libvimcoloratomdark"]
	path = vim/vimdir/bundle/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark
	ignore = dirty
[submodule "libvimjs"]
	path = vim/vimdir/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "libvimjade"]
	path = vim/vimdir/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
	ignore = dirty
[submodule "libvimless"]
	path = vim/vimdir/bundle/vim-less
	url = https://github.com/groenewege/vim-less
	ignore = dirty
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "nerdtree"]
	path = vim/vimdir/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "editorconfigvim"]
	path = vim/vimdir/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule "syntastic"]
	path = vim/vimdir/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty